body{
    background: linear-gradient(180deg,
    rgb(0, 255, 234),rgb(0,150,255),
    rgb(0, 187, 171), rgb(0, 103, 177));
    background-size: 100% 250%;
    background-attachment: fixed;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    overflow: hidden;
    transition: opacity 0.5s ease,
    background-position 0.5s ease;
}
body.dark{
    background-position: 0% 100%;
}
body.dark #taskbar{
    background-color: rgba(0,0,0,0.5);
}
body.dark #launchpad-btn:hover{
    background-color: rgba(0,0,0,0.3);
}
body.dark #launchpad-btn:active{
    background-color: rgba(0,0,0,0.5);
}
body.dark #launchpad{
    background-color: rgba(0,0,0,0.5);
}
body.dark .launchpad-program:hover{
    background-color: rgba(0,0,0,0.3);
}
body.dark .launchpad-program:active{
    background-color: rgba(0,0,0,0.5)
}
body.dark .launchpad-program-text{
    color: white;
}
body.dark #launchpad-user-image{
    background-color: black;
}
body.dark #launchpad-user-div h1{
    color: white;
}
body.dark #shutdown,body.dark #restart{
    color: white;
}
body.dark #shutdown:hover,body.dark #restart:hover{
    background-color: rgba(0,0,0,0.3);
}
body.dark #shutdown:active,body.dark #restart:active{
    background-color: rgba(0,0,0,0.5);
}
body.dark .window{
    background-color: rgba(0,0,0,0.5);
}
body.dark .window-close,body.dark .window-max{
    color: white;
}
body.dark #menu{
    background-color: rgba(0,0,0,0.6);
}
body.dark .menu-item{
    color: white;
}
body.dark .menu-item:hover{
    background-color: rgba(0,0,0,0.3);
}
body.dark .menu-item:active{
    background-color: rgba(0,0,0,0.5)
}
body.dark #time-div{
    background-color: rgba(0,0,0,0.5);
    color: white;
}
*{
    margin: 0;
    padding: 0;
    font-weight: 200;
}
#background-text{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 0;
    font-size: 50px;
    color: white;
}
#taskbar{
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    width: 90%;
    height: 60px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 2;
    border-radius: 50px;
    transition: background-color 0.5s ease;
}
#launchpad-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 85%;
    width: 60px;
    background-color: transparent;
    overflow: hidden;
    transition: background-color 0.5s ease,
    filter 0.5s ease;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#launchpad-btn:hover{
    background-color: rgba(255,255,255,0.3);
    filter: brightness(1.2);
}
#launchpad-btn:active{
    background-color: rgba(255,255,255,0.5);
    filter: brightness(1.2);
}
#launchpad-btn:active img{
    transform: scale(0.7);
}
#launchpad-btn img{
    height: 120%;
    transition: transform 0.3s ease;
}
#launchpad{
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.8);
    width: 700px;
    height: 450px;
    background-color: rgb(255,255,255,0.5);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 25px;
    visibility: hidden;
    opacity: 0;
    transition: transform 0.5s ease,
    opacity 0.5s ease,
    background-color 0.5s ease;
    z-index: 1;
}
#launchpad-user-div{
    position: absolute;
    top: 25px;
    left: 50px;
    width: 150px;
    height: 150px;
}
#launchpad-user-div h1{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 25px;
    transition: color 0.5s ease;
}
#launchpad-user-image{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90px;
    height: 90px;
    background-color: white;
    border-radius: 25px;
    transition: background-color 0.5s ease;
}
#launchpad-user-image img{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 90px;
    transform: translate(-50%,-50%);
}
#launchpad-browser{
    top: 20%;
    left: 45%;
}
.launchpad-program{
    position: absolute;
    transform: translate(-50%,-50%);
    width: 100px;
    height: 100px;
    background-color: transparent;
    border-radius: 15px;
    transition: background-color 0.5s ease;
}
.launchpad-program:hover{
    background-color: rgb(255,255,255,0.3);
}
.launchpad-program:active{
    background-color: rgb(255,255,255,0.5);
}
.launchpad-program:active img{
    transform: translate(-50%,-50%) scale(0.7);
}
.launchpad-program-image{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 100%;
    transition: transform 0.3s ease;
}
.launchpad-program-text{
    position: absolute;
    top: 82.5%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 17px;
    white-space: nowrap;
    color: black;
    transition: color 0.5s ease;
}
#browser{
    width: 600px;
    height: 350px;
    border-radius: 25px;
}
.window{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.8);
    background-color: rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease,
    transform 0.5s ease,
    width 0.5s ease,
    height 0.5s ease,
    top 0.5s ease,
    left 0.5s ease,
    background-color 0.5s ease;
    overflow: hidden;
}
.window-close{
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 30px;
    width: 50px;
    height: 30px;
    transition: background-color 0.5s ease,
    color 0.5s ease;
}
.window-close:hover{
    background-color: rgba(255,255,255,0.3);
}
.window-close:active{
    background-color: rgba(255,255,255,0.5);
}
.window-close span{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#browser.max{
    position: fixed !important;
    top: 0px !important;
    left: 50% !important;
    width: 100% !important;
    height: calc(100% - 100px) !important;
    transform: translate(-50%,0) !important;
}
.window-max{
    position: absolute;
    top: 0px;
    left: 50px;
    font-size: 20px;
    width: 50px;
    height: 30px;
    transition: background-color 0.5s ease,
    color 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.window-max:hover{
    background-color: rgb(255,255,255,0.3);
}
.window-max:active{
    background-color: rgb(255,255,255,0.5);
}
.window-max span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#shutdown{
    position: absolute;
    top: 90%;
    left: 82%;
    transform: translate(-50%,-50%);
    width: 50px;
    height: 50px;
    border-radius: 15px;
    text-align: center;
    line-height: 50px;
}
#shutdown:hover{
    background-color: rgb(255,255,255,0.3);
}
#shutdown:active{
    background-color: rgb(255,255,255,0.5);
}
#restart{
    position: absolute;
    top: 90%;
    left: 90%;
    transform: translate(-50%,-50%);
    width: 50px;
    height: 50px;
    border-radius: 15px;
    text-align: center;
    line-height: 50px;
}
#restart:hover{
    background-color: rgb(255,255,255,0.3);
}
#restart:active{
    background-color: rgb(255,255,255,0.5);
}
#shutdown,#restart{
    transition: background-color 0.5s ease,
    color 0.5s ease;
}
#mouse{
    position: fixed;
    transform: translate(-50%,-50%) scale(1);
    width: 50px;
    height: 50px;
    background-color: rgba(66, 255, 66, 0.5);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 50%;
    z-index: 3;
    pointer-events: none;
    opacity: 1;
    visibility: visible;
    transition: transform 0.3s ease,
    opacity 0.3s ease;
}
#menu{
    position: fixed;
    transform: translate(-50%,-50%) scale(0.8);
    width: 180px;
    height: 300px;
    background-color: rgb(255,255,255,0.6);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 25px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease,
    transform 0.5s ease,
    top 0.5s ease,
    left 0.5s ease,
    background-color 0.5s ease;
    z-index: 1;
}
.menu-item{
    background-color: transparent;
    text-align: center;
    margin: 5px auto;
    height: 40px;
    width: 90%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease,
    color 0.5s ease;
}
.menu-item:hover{
    background-color: rgb(255,255,255,0.3);
}
.menu-item:active{
    background-color: rgb(255,255,255,0.5);
}
#time-div{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 250px;
    height: 150px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 25px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    text-align: center;
    padding-top: 20px;
    color: black;
    box-sizing: border-box;
    transition: background-color 0.5s ease,
    color 0.5s ease;
}
#time-div h1{
    margin-top: 5px;
}
#time-main{
    font-size: 25px;
}
#time-date{
    font-size: 22.5px;
}