body{
    background-color: black;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
*{
    cursor: none;
}
#logo{
    position: absolute;
    top: calc(50% - 90px);
    left: 50%;
    transform: translate(-50%,-50%);
    height: 250px;
    animation: rotatelogo 3s alternate;
}
@keyframes rotatelogo{
    from{
        transform: translate(-50%,-50%) rotate(-360deg);
    }
    to{
        transform: translate(-50%,-50%) rotate(360deg);
    }
}
#loadbar-div{
    position: absolute;
    top: calc(50% + 90px);
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 6px;
    background-color: transparent;
    border-radius: 50px;
    overflow: hidden;
}
#load-bar{
    position: absolute;
    top: 50%;
    left: -100%;
    transform: translateY(-50%);
    width: 300px;
    height: 6px;
    background-color: white;
    border-radius: 50px;
    animation: load 1s forwards infinite;
    animation-delay: 4s;
}
@keyframes load{
    from{
        left: -100%;
    }
    to{
        left: 100%;
    }
}